

	<div id="cabout-time-calendar">
		<h3 id="about-time-calendar-hdr" class="about-time-calendar-hdr">
			<span id="about-time-calendar-date">{{now.date}} {{now.time}}</span>
		</h3>
		<div class="about-time-calendar-container">
			{{#if running}}
				<div class="about-time-clock-running">
			{{else}}
				<div class="about-time-clock-stopped">
			{{/if}}
				<span id="about-time-calendar-time" title="Start/Stop psuedoclock."><h1>{{timeRemaining}}</h1></span>
			</div>
			{{#if isGM}}
			<div class="about-time-calendar-btn-container">
				<i id="about-time-calendar-btn-min" class="fas fa-play about-time-fa-play" title="Advance 1 minute"></i>
				<i id="about-time-calendar-btn-tenMin" class="fas fa-step-forward about-time-fa-step-forward" title="Advance 10 minutes"></i>
				<i id="about-time-calendar-btn-long" class="fas fa-fast-forward about-time-fa-fast-forward" title="Advance 1 hour" ></i>
			</div>
			{{/if}}
		</div>
	</div>
